@{
    ViewBag.Title = "[[[FAQ]]]";
}

<h3>Вопросы и ответы</h3>

<dl>
    <dt>
Зачем был создан Манифест Украины?
    </dt>
    <dd>
Главная задача Манифеста - улучшить жизнь на Украине, сделать жизнь граждан Украины более счастливой. В качестве этой задачи выбрано одно средство - народный Манифест. Мы не говорим людям, что делать, не учим людей жить. Мы даем гражданам Украины инструмент, который поможет им обрести единство, позволит понять друг друга, вернет силу и уверенность, и даст возможность самим людям решать, в какой стране они хотят жить. Мы верим, что однажды Манифест станет неотъемлемой частью функционирования государства Украины. 
    </dd>
    
    <dt>
Манифест Украины - коммерческая или некоммерческая организация?
    </dt>
    <dd>
Это будет некоммерческий фонд, который привлекает средства на развитие, продвижение и обеспечение сайта Манифеста. В данный момент мы решаем, в какой форме Манифест сможет наиболее эффективно достичь своих целей. Можем ли мы остаться группой физических лиц, объединенных общим делом? Нужно ли нам открывать юридическое лицо? Какая организационная форма позволит нам эффективно привлекать пожертвования? Этот вопрос будет решен по мере того, как будет набираться команда Манифеста. Если у вас есть опыт в создании подобных фондов, то нам будет интересно узнать ваше мнение. В будущем, когда Манифест станет неотъемлемой частью государства, новая форма его организации будет определена в духе Манифеста - единым мнением всех граждан.
    </dd>

    <dt>
Кто управляет Манифестом?
    </dt>
    <dd>
Манифестом управляет команда Манифеста. Команда Манифеста - это единомышленники, которые верят в Манифест, и видят в нем лучшее применение своих сил. Большую часть своего времени они тратят на задачи Манифеста. Когда они выполняют свои обязанности как члены команды Манифеста, они нейтральны и непредвзяты. Их задача - координировать всю работу по Манифесту, собирать средства и тратить их на выполнение намеченных проектов.
    </dd>

    <dt>
Кто является основной действующей силой Манифеста Украины?
    </dt>
    <dd>    
Основной действующей силой Манифеста является сообщество Манифеста. Это волонтеры и активисты, которые поддерживают Манифест, помогают ему и продвигают его. Координировать их работу, выделять средства и контролировать расходы будут координаторы из команды Манифеста. Вся работа будет разбита на конкретные проекты-подвиги, которые станут частью эпической истории Манифеста. История будет сохраняться в летописи Манифеста.
    </dd>

    <dt>
Какие основные задачи стоят перед командой и сообществом Манифеста?
    </dt>
    <dd>
Основные задачи Манифеста - это обеспечение функционирования сайта Манифеста Украины, улучшение сайта как инструмента для народовластия, и продвижение Манифеста.
    </dd>

    <dt>
В Манифесте Украины могут участвовать только те, у кого есть Интернет, как вы сможете обеспечить всеобщий доступ?
    </dt>
    <dd>
Когда Манифест наберет силу, мы сможем найти адекватное решение вместе с собществом Манифеста. Например, создадим во всех городах центры доступа на сайт Манифеста, как интернет-кафе, в которых мы сможем помогать даже людям с ограниченными возможностями. Или, если представить Украину как высокотехнологичную страну, то легко вообразить, как каждому школьнику выдают планшет или ноутбук, и он приносит его в семью и обучает родителей пользоваться Манифестом. Звучит фантастично? <a href="http://news.bbc.co.uk/2/hi/8309583.stm">2009 год, Уругвай</a>. А еще через 5 лет это может стать реальностью для многих стран. А когда Манифест станет неотъемлемым институтом общественной жизни Украины, многое невозможное станет возможным.
    </dd>

    <dt>
Как команда Манифеста собирает средства?
    </dt>
    <dd>
Основным источником средств будут пожертвования. Все средства будут приниматься без всяких условий, что позволит Манифесту Украины оставаться финансовово независимым. Наш принцип очень простой - вы видите, кто мы и что мы делаем, и вы поддерживаете нас, если ваше сердце будет с нами.
    </dd>

    <dt>
На что команда Манифеста тратит средства?
    </dt>
    <dd>
Затраты будут делиться на следующие группы: (1) функционирование сайта Манифеста - затраты на СМС-подтверждение регистрации и уникальную идентификацию пользователей, затраты на инфраструктуру - быстрый хостинг, широкий канал, систему доставки контента; (2) расходы команды Манифеста - зарплата, аренда необходимых помещений, бухгалтерия, разовые работы и расходы; (3) продвижение Манифеста - здесь найдется место всем вашим смелым, творческим и эпическим идеям!
    </dd>

    <dt>
Как команда Манифеста отчитывается за потраченные средства?
    </dt>
    <dd>
Вся финансовая отчетность будет открытой. Все расходы будут вывешиваться на сайте Манифеста Украины, и команда Манифеста будет требовать такой же открытости от всех групп, которым она дает деньги на какие-либо проекты. Команда Манифеста будет чутко прислушиваться к мнению людей, и постоянно оптимизировать свои расходы. 
    </dd>

    <dt>
Как выплачивается зарплата в команде Манифеста?
    </dt>
    <dd>
Основная работа в команде Манифеста - это работа координатора. Остальные вакансии будут или отдаваться на аутсорс, или быть вспомогательными. Координаторы будут получать фиксированную зарплату в зависимости от своего уровня. Уровни будут следующие: “Помощник координатора” - тот, кто еще не готов к самостоятельной работе, и будет работать под присмотром; “Координатор” - тот, кто выполняет основную работу и все умеет делать; “Мастер-координатор” - тот, кто регулярно показывает выдающиеся результаты и помогает другим, от мастеров-координаторов также ожидается и другая общественная деятельность - ведение своего блога, участие в других общественных организациях и мероприятиях; “Лидер Манифеста” - тот, кто внес существенный вклад в развитие Манифеста и широко участвует в общественной жизни Украины. Два раза в год подводится итог - деятельность каждого координатора пересматривается (теми, кто на уровень выше его), и, если результаты его работы действительно выдающиеся, его уровень увеличивается. В случае, если координатор регулярно достигает в своей работе выдающихся результатов, но еще недостаточно, чтобы его уровень был повышен, то к его уровню приписывается титул “Выдающийся”, и он дополнительно будет получать 50% разницы зарплаты между своим уровнем и следующим. <em>Источник схемы - <a href="http://www.joelonsoftware.com/articles/fog0000000038.html">Joel Spolsky</a></em>.
    </dd>

    <dt>
Как осуществляется продвижение Манифеста?
    </dt>
    <dd>
Слово о Манифесте должно распространяться. Мы верим, что Манифест как нейтральный инструмент примут все независимо от политических воззрений. Мы верим, что Манифест может стать одним из оплотов нового сильного и стабильного государства. Мы рассчитываем на помощь и поддержку известных публичных персон. Они будут нашим голосом в СМИ и в политике. Но еще больше мы верим в сообщество Манифеста - в наших активистов и волонтеров. Мы предвидим, что Манифест будет распространяться через творчество, через общение, через саму жизнь. Если вы хотите создать сообщество Манифеста в вашем городе или регионе - мы поможем вам и поддержим ваши проекты! Так Манифест, как живой организм, будет обрастать новыми живыми клеточками.
    </dd>

    <dt>
С кем будет сотрудничать Манифест Украины?
    </dt>
    <dd>
Мы готовы сотрудничать со всеми, кто будет поддерживать Манифест. Почему мы так неразборчивы? Мы считаем, что голос каждого должен быть услышан и учтен. Но главное, мы верим, что единая воля не может родиться из разделения. Мы не отказываем никому - идея Манифеста настолько проста и естественна, что может объединить всех. Манифест не требует отказываться от идеи, веры или предпочтений - достаточно только желания понять другого человека и найти то общее, что нас может объединить.
    </dd>

    <dt>
Как можно помочь Манифесту Украины?
    </dt>
    <dd>
Самый простой способ помочь Манифесту - стать его регулярным участником, внося свой вклад в формирование единой воли народа. Делу Манифеста очень поможет, если рассказывать о нем своему окружению. И, если вы хотите более активно помогать Манифесту - присоединяйтесь к сообществу Манифеста! Ищите проект, который вам нравится, или предлагайте свой и ищите единомышленников!
    </dd>

    <dt>
Как попасть в команду Манифеста?
    </dt>
    <dd>
Чтобы помогать Манифесту, достаточно активно участвовать в проектах сообщества Манифеста. Если же вы очень хотите попасть к нам в команду, и считаете, что так вы принесете больше пользы Манифесту - напишите нам, мы вместе посмотрим, что можно сделать.
    </dd>

    <dt>
Будут ли у вас совместные программы с другими организациями?
    </dt>
    <dd>
Да, мы планируем совместные программы с региональными и городскими администрациями. Любой город или область - это страна в миниатюре. Им уже сейчас нужен контакт со своими жителями, потому что многие задачи требуют совместной деятельности администрации и жителей. Это позволит напрямую улучшить качество жизни людей и облегчит работу местных органов власти. Здесь мы надеемся на наше сообщество  Манифеста - чтобы наши активисты объединялись и сами организовывали взаимодействие со своими администрациями. Скорее всего, это будут отдельные привязанные к конкретному месту сайты районных Манифестов.
    </dd>

    <dt>
Как Манифест защищается от спамеров, троллей и экстремистов? Как осуществляется модерация?
    </dt>
    <dd>
Для начала на Манифесте будет реализовано СМС-подтверждение регистрации и уникальная идентификация пользователей. Далее, с помощью системы рейтингования каждый пользователь сможет высказать свое отношение к любому содержимому на сайте. Также  все новые правки и комментарии в начале будут находиться “в песочнице”, и по умолчанию не будут показываться большинству пользователей - их просмотр будет входить в задачу активистов, которые возьмут на себя роль первооткрывателей нового содержимого. Будет введена возможность “отметить текст как нежелательный”, с указанием причины. Содержимое, отмеченное таким флагом, будет просматриваться командой Манифеста и при необходимости удаляться. И, наконец, сама форма организации контента “Правка” - “Комментарий” - “Обсуждение” будет отводить дискуссиям и обсуждениям только третий уровень, по-умолчанию скрытый. Это будет значить, что даже если флейм или горячая дискуссия возникнет, она не будет мешать остальным посетителям сайта. Можно считать это “тихими кружками для дискуссий”.
    </dd>

    <dt>
Как будет реализовываться воля народа, воплотившаяся в Манифесте?
    </dt>
    <dd>
Для реализации идей Манифеста в текущем правовом поле необходимо, чтобы участниками политического процесса было инициировано создание соответствующих законов. Далее законы должны быть приняты существующей законодательной властью. Это естественный процесс - законы должны готовить соответствующие эксперты. Мы рассчитываем на то, что, когда Манифест наберет силу, то различные общественные и политические персоны и партии начнут поддерживать Манифест. Волю народа легко игнорировать, когда ее не слышно - но когда она оформилась и обрела голос - ее приходится учитывать. И далее люди уже сами смогут сравнивать, насколько те или иные выбранные ими представители власти воплощают Манифест в жизнь.
    </dd>

    <dt>
Какие существуют угрозы для Манифеста Украины?
    </dt>
    <dd>
Первая угроза состоит в том, что Манифест не получит достаточной известности. Тогда мы сможем научиться на своих ошибках и в следующий раз сделать все правильно. Вторая угроза - что Манифест окажется узурпированным одной из общественных групп, и не будет создано условий для поистине равноправного выражения всех мнений. В этом случае мы предвидим возникновение второго Манифеста, а затем, в силу нейтральной и ориентированной на создание единого пространства природы Манифеста их объединение в один полноценный. Третья угроза - коррупция внутри команды Манифеста, отказ от нейтральности и лоббирование ими какой-либо позиции. Мы приложим все усилия, чтобы противостоять этой угрозе - мы сделаем команду Манифеста максимально открытой и будем яростно сопротивляться элитизму и вырождению. И последняя угроза состоит в том, что идеи, выработанные людьми, не будут реализованы. Для противодействия этой угрозе понадобится активная позиция каждого гражданина Украины, и мы верим, что народ сможет отстоять свой новообретенный голос.
    </dd>

    <dt>
Защищены ли материалы Манифеста копирайтом?
    </dt>
    <dd>
Все содержимое сайта и все материалы, добавленные пользователями, размещаются под лицензией <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License 4.0</a>. Каждый участник Манифеста может добавлять новый материал на сайт Манифеста (или изменять существующий) только в следующих случаях: если он является автором материала или вносимого изменения и согласен с его распространением, изменением и использованием (в том числе коммерческим) на условиях лицензии CC BY-SA 4.0, или если добавляемый материал или изменение допускают распространение, изменение и использование (в том числе коммерческое) на условиях лицензии CC BY-SA 4.0.
    </dd>

    <dt>
Могу ли я создать свой Манифест?
    </dt>
    <dd>
Да. Код сайта Манифеста будет распространяться свободно для любого жителя Земли, и если вы будете не удовлетворены тем, в каком направлении развивается Манифест Украины, или если вам потребуется ипользовать движок сайта Манифеста для своих целей, вы сможете это сделать.
    </dd>
</dl>