@{
    ViewBag.Title = "[[[Slides]]]";
}

<h3>Манифест в картинках</h3>

<div class="col-md-offset-2 col-md-8">
<dl>

<dt>
1. Манифест Украины
</dt>
<dd>
<img src="~/Content/images/slides/m01.svg" class="img-thumbnail" />
</dd>

<dt>
2. Статьи Манифеста
</dt>
<dd>
<img src="~/Content/images/slides/m02.svg" class="img-thumbnail" />
Манифест разбит на статьи. Тексты статей пишет народ.
</dd>

<dt>
3. Как именно пишутся статьи
</dt>
<dd>
<img src="~/Content/images/slides/m03.svg" class="img-thumbnail" />
Каждая статья Манифеста последовательно улучшается посредством народотворчества.
Этот процесс разбит на циклы, итогом каждого цикла является новая версия статьи. 
Цикл состоит из этапов: старая версия статьи - предложение правок – обсуждение и рейтингование правок – внесение правок в новую версию – одобрение новой версии - новая версия статьи. 
На этапе подготовки Манифеста к запуску (приватный этап), к Манифесту имеет доступ ограниченное количество людей, входящих в команду Манифеста. Эти люди готовят начальные версии статей, с которых и начнется процесс народотворчества. 
После запуска Манифеста (публичный этап), каждая следующая версия статьи, составляется путем внесения правок в предыдущую версию (новая версия = старая версия + правки). Начальные версии статей предлагаются авторами.
Статьи пишутся путем внесения правок.
</dd>

<dt>
4. Голосование каждой правке
</dt>
<dd>
<img src="~/Content/images/slides/m04.svg" class="img-thumbnail" />
По каждой правке осуществляется голосование.  Правки с наивысшим рейтингом всплывают наверх, с наименьшим опускаются вниз. Новые правки начинают посередине. Там же находятся спорные правки (за которые проголосовало много за и много против).
</dd>

<dt>
5. Обсуждение каждой правки
</dt>
<dd>
<img src="~/Content/images/slides/m05.svg" class="img-thumbnail" />
К правке пишутся комментарии, которые рейтингуются. Комментарии с наивысшим рейтингом всплывают наверх, с наименьшим опускаются вниз, новые комментарии начинают посередине, там же находятся спорные комментарии (за которые проголосовало много за и против).
К комментариями пишут обсуждения, которые находятся в хронологическом порядке (новые находятся сверху). Сообщения также рейтингуются, сообщения с низким рейтингом исключаются из просмотра.
</dd>

<dt>
6. Внесение правок в статью.
</dt>
<dd>
<img src="~/Content/images/slides/m06.svg" class="img-thumbnail" />
Правки с наивысшим рейтингом попадают в черновик новой версии статьи.  Утвержденные правки вносятся технической командой Манифеста в черновики новых версий статей.
</dd>

<dt>
7. Одобрение новой версии статьи
</dt>
<dd>
<img src="~/Content/images/slides/m07.svg" class="img-thumbnail" />
После того, как техническая команда М подготовила черновую версию новой статьи с внесенными правками, эта версия выставляется на обсуждение и одобрение. Если она будет одобрена, то эта версия станет новой версией статьи. Если нет, то техническая команда Манифеста заново вносит исправления , на основе полученной обратной связи. 
Этот процесс будет продолжаться до тех пор, пока не будет одобрен новый черновик. Необходимо отметить, что на этой стадии, нахождение компромисс а зависит не только от технических средств, предоставляемых системой (автоматической системой рейтингования), но и от дипломатических качеств технической команды. Для достижения консенсуса может потребоваться плотное общение технической команды с народом, например через личные блоги.
</dd>

<dt>
8. Публикация статьи
</dt>
<dd>
<img src="~/Content/images/slides/m08.svg" class="img-thumbnail" />
Каждая новая версия статьи может быть опубликована – попасть в опубликованный Манифест. Это будет означать, что статья уже достигла того качества, что люди хотят видеть ее официальной программой для действий.
</dd>

<dt>
9. Обобщающий слайд. 
</dt>
<dd>
<img src="~/Content/images/slides/m09.svg" class="img-thumbnail" />
</dd>

<dt>
10. Единая новостная лента Манифеста
</dt>
<dd>
<img src="~/Content/images/slides/m10.svg" class="img-thumbnail" />
</dd>

<dt>
11. Рейтингование и обсуждение постов аналогично рейтингованию и обсуждению правок.
</dt>
<dd>
<img src="~/Content/images/slides/m11.svg" class="img-thumbnail" />
</dd>

<dt>
12. Принятие Манифеста
</dt>
<dd>
<img src="~/Content/images/slides/m12.svg" class="img-thumbnail" />
Манифест могут принять полностью или частично различные политические партии, общественные движения, коммерческие компании и физические лица.
Принявшие такое решение отправляют заявку технической команде Манифеста, которая размещает заявителя для рейтингования пользователей. Например, первые десять таких заявителей попадают в список принявших Манифест.
</dd>

<dt>
13. Экосистема Манифеста
</dt>
<dd>
<img src="~/Content/images/slides/m13.svg" class="img-thumbnail" />
Финансирование Манифеста: средства на Манифест собираются только в форме пожертвований. При наличии достаточного финансирования на год вперед прием средств прекращается.
Мы ожидаем, что Манифест примут и начнут продвигать и реализовывать существующие партии, компании (бизнес), общественные движения и лидеры мнений.
Но на каком-то этапе, после того, как Манифест станет популярным, будет правильно создать Фонд Манифеста – для дальнейшего продвижения и реализации Манифеста, и партию Манифеста – которая сделает Манифест своей единственной программой.
Средства на Фонд Манифеста также планируется получать в виде пожертвований.
В любом случае Манифест остается независимым от Фонда и от Партии (организационно и финансово) 
Каждая правка является интеллектуальным наследием всех и любой, кто может эту правку улучшить имеет право улучшить ее.
</dd>

<dt>
14. Будущее Манифеста
</dt>
<dd>
<img src="~/Content/images/slides/m14.svg" class="img-thumbnail" />
</dd>

</dl>

</div>

<div class="clearfix"></div>